{% extends "layout.html" %}

{% block title %}
    mix - Hem
{% endblock %}

{% block content %}
    <h1>Hem</h1>
    <p>Mix är mitt Python och robott-projekt. Om du loggar in här kommer du att kunna leka med robottar och andra roliga saker som jag experimenterar med.</p>
    <p></p>
    <p>I tur och ordning kommer jag att:
        <ul>
            <li>Bygga en robot som kan röra sig runt och undvika hinder</li>
            <li>Lära roboten att känna igen olika objekt med hjälp av en kamera</li>
            <li>Skapa en webbsida där du kan styra roboten på distans</li>
            <li>Experimentera med AI och maskininlärning för att göra roboten smartare</li>
        </ul>
        <p>Målet är att överföra kunskapen till nästa projekt och det egentliga slutmålet - <b>En självgående båt!</b></p>
    </p>
{% endblock %}