<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Min Django Sida
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="menu_panel">
        <ul>
            <li><a href="/">🏠 </a></li>
            <li><a href="/about/">ℹ </a></li>
            <li><a href="/posts/">📝</a></li>
        </ul>
    </div>

    <main>
        {% block content %}
            Innehåll
        {% endblock %}

    </main>
</body>
</html>