<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Min Django Sida
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <div class="menu_panel">
        <ul>
            <li><a href="/" title="Hem">🏠 </a></li>
            <li><a href="/about/" title="Om">ℹ </a></li>
            <li><a href="{% url 'posts:list' %}" title="Blog">📝 </a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'posts:new-post' %}" title="Nytt inlägg">✏️ </a></li>
                <form class="logout" method="post" action="{% url 'users:logout' %}">
                {% csrf_token %}
                <button type="submit" title="Logout">👋 </button>
                </form>
            {% else %}
                <li><a href="{% url 'users:register' %}" title="Ny användare">🆕 </a></li>
                <li><a href="{% url 'users:login' %}" title="Logga in">🧑‍💻 </a></li>
            {% endif %}
        </ul>
    </div>

    <main>
        {% block content %}
            Innehåll
        {% endblock %}

    </main>
</body>
</html>
