{% extends "layout.html" %}

{% block title %}
    mix - Bloginlägg
{% endblock %}

{% block content %}
    <section>
        <h1 class="topheader">Bloginlägg</h1>
        {% for post in posts %}
            <article class="post">
                <h1 class="posttitle">
                    <a href="{% url 'posts:page' slug=post.slug %}">
                        {{ post.title }}
                    </a>
                </h1>
                <p>{{ post.date|date:"Y-m-d" }} by {{ post.author }}</p>
                <p class="body">{{ post.body }}</p>
            </article>
        {% endfor %}
    </section>
{% endblock %}
